<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626406163347-tm6vkka0m2lva84imafh95pcsljjfhau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626406163347-tm6vkka0m2lva84imafh95pcsljjfhau</string>
	<key>API_KEY</key>
	<string>AIzaSyDCCMQhIDHT_Q6UccIBJH363DVjnFbA5Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>626406163347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memorygame.volla</string>
	<key>PROJECT_ID</key>
	<string>volla-app</string>
	<key>STORAGE_BUCKET</key>
	<string>volla-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626406163347:ios:7a593bde42757e6c</string>
	<key>DATABASE_URL</key>
	<string>https://volla-app.firebaseio.com</string>
</dict>
</plist>